@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #0d233b;
  color: #fff;
  transition: background 0.5s;
}

.app {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#toggle-theme {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.search-container {
  margin-top: 20px;
}

input, button, select {
  padding: 15px;
  margin: 7px;
  border-radius: 50px;
  border: none;
  font-size: 14px;
}

#searchBtn {
  background-color: #0099ff;
  color: white;
  cursor: pointer;
}

.weather-card {
  background: rgba(252, 251, 252, 0.081);
  border-radius: 32px;
  padding: 25px;
  margin-top: 22px;
  backdrop-filter: blur(10px);
}

.weather-card img {
  width: 90px;
  height: 90px;
}

.dark {
  background-color: rgba(0, 0, 0, 0.805);
  color: #eee;
}

.dark .weather-card {
  background: rgba(194, 192, 192, 0.624);
}
